.table_container {
    max-width: 1077px;
}

.table {
    /* border: 1px solid red; */
    width: 100%;
    border-spacing: 0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    color: #474955;
}

.table_header {
    border: none;
    width: 100%;
    background-color: #474955;
    box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
    color: #fff;

}
.table_header_container {
    border: none;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.table_header_cell {
    padding: 0;
    margin: 0;
    
}

.table_header_cell:first-child {
    width: 10%;

}

.table_header_sortbutton {
    margin: 0 0 0 25px;
    width: 11.657px;
    height: 5.827px;
    border: none;
    background: url('../../images/sort_ico.svg');
}

.table_header_sortbutton:hover {
    cursor: pointer;
    opacity: 0.6;
}

.table_cell {
    border: 1px solid #E3E6EC;
    padding: 15px 0;
}
