.table_container {
    max-width: 1077px;
}

.table {
    width: 100%;
    border-spacing: 0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    color: #474955;
}

.table_header {
    border: none;
    width: 100%;
    background-color: #474955;
    box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
    color: #fff;

}
.table_header_container {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 12px; */
}

.table_header_cell {
    padding: 0;
    margin: 0;
    
}

.table_header_cell:first-child {
    width: 10%;
}

.table_header_sortbutton {
    margin: 0 0 0 25px;
    padding: 0;
    width: 11.657px;
    height: 5.827px;
    border: none;
    /* border: 1px solid red; */
    background: url('../../images/sort_ico.svg');
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -o-background-repeat: no-repeat;
}

.table_header_sortbutton:hover {
    cursor: pointer;
    opacity: 0.6;
}

.table_cell {
    border: 1px solid #E3E6EC;
    padding: 10px 10px;
    text-align: left;
}

.table_cell:first-child {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .table_header_container {
    justify-content: space-between;
    padding: 0 12px;

}

}
